<ion-view view-title="Login">
  <ion-content scroll="false" padding="true" class="v-center">

    <div>
      <h1 class="hindi center margin-top-large">Patraka</h1>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input ng-model="loginValues.username" type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input ng-model="loginValues.password"  type="password">
        </label>
      </div>

      <button ng-click="login()" class="button button-full button-balanced">
        Login
      </button>
    </div>

    <a ng-href="#/signUp" class="button icon-right ion-chevron-right button-clear button-energized">Please Sign Up here</a>

  </ion-content>
</ion-view>
