<ion-view view-title="Home">
  <ion-nav-buttons side="right">
    <button class="button button-assertive" ng-click="logOut()">
      Log Out
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <h1 class="hindi center">Patraka</h1>
    <div ng-if="tickets.length" class="list card" >
      <div class="item item-divider">
        Recent Tickets
      </div>

      <a ng-repeat="ticket in tickets" ng-href="#/user/useTicket/{{ticket._id}}" class="item item-icon-left">
        <i class="icon ion-ios-paper-outline"></i>
        {{ticket.movie.fields.title}}<br/>
        <i class="size-50">{{moment.unix(_.toInteger(ticket.date)).format('MMMM Do YYYY, h:mm a')}}</i>
      </a>

    </div>

    <div class="list">

      <div class="item item-divider">
        Latest Movies
      </div>

      <div ng-if="movies.length" class="item item-image home-slider-box" href="#">
        <!--<img src="http://ia.media-imdb.com/images/M/MV5BMTQxNTc3NDM2MF5BMl5BanBnXkFtZTcwNzQ5NTQ3OQ@@._V1_SX400_.jpg" alt="Don Jon" class="fit">-->
        <ion-slide-box on-slide-changed="slideChanged(index)"
                       movie-pager="false">
          <ion-slide ng-repeat="movie in movies">
            <img src="{{movie.fields.image_url}}"
                 alt="{{movie.fields.title}}" class="fit-50">

          </ion-slide>

          <!--<ion-slide>-->
            <!--<img src="http://ia.media-imdb.com/images/M/MV5BMTQxNTc3NDM2MF5BMl5BanBnXkFtZTcwNzQ5NTQ3OQ@@._V1_SX400_.jpg"-->
                 <!--alt="Don Jon" class="fit-50">-->

          <!--</ion-slide>-->

          <!--<ion-slide>-->
            <!--<img src="http://ia.media-imdb.com/images/M/MV5BMTQxNTc3NDM2MF5BMl5BanBnXkFtZTcwNzQ5NTQ3OQ@@._V1_SX400_.jpg"-->
                 <!--alt="Don Jon" class="fit-50">-->

          <!--</ion-slide>-->
        </ion-slide-box>


      </div>

    </div>

  </ion-content>
</ion-view>
