<ion-view view-title="Book Movies">
  <ion-header-bar class="bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search Movies" ng-model="pattern" ng-change="populate(pattern)">
    </label>
    <button class="button button-stable">
      Cancel
    </button>
  </ion-header-bar>

  <ion-content>
    <div class="row">
      <a ng-repeat="s in movies" class="col col-50 sh" href="#/tab/getVendorsByMovie/{{s._id}}">
        <img src="{{s.fields.image_url}}" alt="{{s.fields.title}}" class="fit"/>
      </a>
    </div>
  </ion-content>
</ion-view>
