<ion-view view-title="{{vendor.companyName}}">
  <ion-content scroll="false">
    <div class="card">
      <div class="item item-text-wrap">
        Status:
        <soan ng-class="{green : !isHouseFull, yellow : isHouseFull}">
          {{ticketsAvailable}} Ticket<span ng-if="ticketsAvailable > 1">s</span> Available
        </soan>

      </div>
    </div>

    <div class="list">
      <label class="item item-input">
        <span class="input-label">
          Show
        </span>
        <strong>
          The Hunger Games
        </strong>
      </label>


      <label class="item item-input item-select">
                  <span class="input-label">
                      Number Of tickets
                  </span>
        <select ng-model="ticketCount"
                ng-change="showUpdatedTicketCount()"
                ng-options="tc as tc for tc in tcArray"
                ng-disabled="isHouseFull">
        </select>
      </label>


      <label class="item item-input" ng-click="openDatePicker()">
        <span class="input-label">Date</span>
        <input class="padding-left align-right" type="text" ng-model="date" readonly>
        <!--<div>{{date}}</div>-->
      </label>

      <label class="item item-input item-select" ng-if="date">
                  <span class="input-label">
                      Show Time
                  </span>
        <select>
          <option ng-repeat="t in selected.show.times">{{t}}</option>
        </select>
      </label>

    </div>
    <button class="button button-full button-balanced">
      Book
    </button>

    <!--<button class="button bar-balanced">-->
      <!--<div class="title">Book</div>-->
    <!--</button>-->
  </ion-content>
</ion-view>
