<ion-view view-title="Update Movie">
  <ion-nav-buttons side="right">
    <button class="button button-assertive" ng-click="logOut()">
      Log Out
    </button>
  </ion-nav-buttons>

  <ion-content padding="true">

    <button ng-click="addMovie()" class="button margin-bottom-large icon-left ion-edit button-balanced">
      Add
    </button>

    <div class="list">
      <label class="item item-input">
        <span class="input-label">Title</span>
        <input type="text" ng-model="currentMovie.title">
      </label>

      <label class="item item-input">
        <span class="input-label">Plot</span>
        <textarea ng-model="currentMovie.plot"></textarea>
      </label>

      <label class="item item-input" ng-click="releaseDatePicker()">
        <span class="input-label">Release Date</span>
        <input type="text" ng-model="currentMovie.release_date">
      </label>

      <label class="item item-input">
        <span class="input-label">Rank</span>
        <input type="number" ng-model="currentMovie.rank">
      </label>


      <label class="item item-input">
        <span class="input-label">Directors</span>
        <input type="text" placeholder="Comma-delimited list" ng-model="currentMovie.directors">
      </label>


      <label class="item item-input">
        <span class="input-label">Actors</span>
        <input type="text" placeholder="Comma-delimited list" ng-model="currentMovie.actors">
      </label>


      <label class="item item-input">
        <span class="input-label">Genres</span>
        <input type="text" placeholder="Comma-delimited list" ng-model="currentMovie.genres">
      </label>


      <label class="item item-input">
        <span class="input-label">Running Time</span>
        <input type="number" placeholder="In Minutes" ng-model="currentMovie.running_time_mins">
      </label>

    </div>

    <div class="list ">

      <div class="item center">
        <h2>{{currentMovie.title}}</h2>
      </div>

      <div class="item">
        <input ng-model="uploadDownloads" type="file" fd-input file-name="fileName"/>
      </div>


      <div class="item item-image">
        <img  data-ng-src="{{currentMovie.image_url}}" id="fileImg" class="fit"/>
      </div>

    </div>


  </ion-content>
</ion-view>
