<ion-view view-title="Use Tickets">
  <ion-content class="padding">
    <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="ticket in tickets"
              type="item-text-wrap" href="#/tab/useTicket/{{ticket._id}}">
      <h2>{{ticket.companyName}}</h2>
      <p>{{ticket.show}} :: {{ticket.time}}</p>
      <i class="icon ion-chevron-right icon-accessory"></i>
      <ion-option-button class="button-assertive" ng-click="remove(ticket)">
        Delete
      </ion-option-button>
    </ion-item>
  </ion-content>
</ion-view>
