<ion-view view-title="Use Tickets">

  <ion-content class="padding">
    <!--<ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="ticket in tickets"-->
    <!--type="item-text-wrap" href="#/tab/useTicket/{{ticket._id}}">-->
    <!--<h2>{{ticket.companyName}}</h2>-->
    <!--<p>{{ticket.show}} :: {{ticket.time}}</p>-->
    <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
    <!--<ion-option-button class="button-assertive" ng-click="remove(ticket)">-->
    <!--Delete-->
    <!--</ion-option-button>-->
    <!--</ion-item>-->


    <div class="list">

      <a class="item item-thumbnail-left item-icon-right" href="#">
        <img src="http://ia.media-imdb.com/images/M/MV5BMTQxNTc3NDM2MF5BMl5BanBnXkFtZTcwNzQ5NTQ3OQ@@._V1_SX400_.jpg"/>
        <h2>Don Jon @ The Little Theater</h2>
        <p>Show: 6:00pm</p>
        <p>Feb 16<sup>th</sup> 2017</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>

      <a class="item item-thumbnail-left item-icon-right" href="#">
        <img src="http://ia.media-imdb.com/images/M/MV5BMTg0NTIzMjQ1NV5BMl5BanBnXkFtZTcwNDc3MzM5OQ@@._V1_SX400_.jpg"/>
        <h2>Prisoners @ Paramount</h2>
        <p>Show: 8:00pm</p>
        <p>Feb 16<sup>th</sup> 2017</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>


      <a class="item item-thumbnail-left item-icon-right" href="#">
        <img src="http://ia.media-imdb.com/images/M/MV5BMTAyMjQ3OTAxMzNeQTJeQWpwZ15BbWU4MDU0NzA1MzAx._V1_SX400_.jpg"/>
        <h2>The Hunger Games @ J Theater</h2>
        <p>Show: 11:00pm</p>
        <p>Feb 16<sup>th</sup> 2017</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>

    </div>

  </ion-content>
</ion-view>
