<ion-view view-title="{{ticket.movie.fields.title}}" hide-back-button="false">
  <ion-nav-bar class="bar bar-header bar-dark">
    <ion-nav-back-button class="button-clear" ng-click="backToUseTickets()">
      <i class="icon ion-ios-arrow-back"></i> Back
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding" scroll="false">
    <br/>

    <div class="item">
      Distance
    </div>

    <div class="item">

      <span ng-if="vendorDistance >= 0">{{vendorDistance}} Miles</span>
      <span ng-if="vendorDistance < 0">calculating....</span>
    </div>

    <div class="list card">

      <div class="item item-icon-left">
        <i class="icon ion-home"></i>
        {{ticket.vendor.companyName}}
      </div>

      <div class="item item-icon-left">
        <i class="icon ion-film-marker"></i>
        {{ticket.movie.fields.title}}
      </div>

      <div class="item item-icon-left">
        <i class="icon ion-clock"></i>

        {{moment.unix(_.toInteger(ticket.date)).format('MMMM Do YYYY, h:mm a')}}
      </div>


      <div class="item item-icon-left">
        <i class="icon ion-ios-grid-view-outline"></i>
        Ticket Count: {{ticket.count}}
      </div>

    </div>
    <button ng-if="ticket.status !== 'inactive'" ng-click="useTicket()" class="button button-full button-balanced">
      Use Ticket
    </button>
  </ion-content>

  <ion-content icon="bubbles" class="overlay" ng-show="isLoading">
    <ion-spinner></ion-spinner>
  </ion-content>

</ion-view>
