<ion-view view-title="{{ticket.companyName}}">
  <ion-content class="padding">
    <!--<ion-item class="item-remove-animate item-avatar item-icon-right">-->
    <!--<h2>{{ticket.companyName}}</h2>-->
    <!--<p>{{ticket.type}}</p>-->
    <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
    <!--<ion-option-button class="button-assertive" ng-click="remove(ticket)">-->
    <!--Delete-->
    <!--</ion-option-button>-->
    <!--</ion-item>-->

    <div class="list card">

      <a href="#" class="item item-icon-left">
        <i class="icon ion-home"></i>
        {{ticket.companyName}}
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i>
        {{ticket.show}}
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-wifi"></i>
        {{ticket.time}}
      </a>
    </div>

    <div>
        <div class="list">
          <div class="item" ng-repeat="(key, value) in beacons">
            <div class="row">
              <div class="col truncate">
                {{value.uuid}}
              </div>
            </div>
            <div class="row">
              <div class="col">
                major: {{value.major}}
              </div>
              <div class="col">
                minor: {{value.minor}}
              </div>
            </div>
            <div class="row">
              <div class="col">
                {{value.proximity}}
              </div>
            </div>
          </div>
        </div>
    </div>

    <button class="button button-full button-positive">
      Use Ticket
    </button>
  </ion-content>
</ion-view>
