<ion-view view-title="{{vendor.companyName}}">
  <ion-content>
    <div class="list">
      <label class="item item-input item-select">
        <span class="input-label">
          Show
        </span>
        <select
          ng-init="selected.show = vendor.spots[0]"
          ng-model="selected.show"
          ng-change="showUpdated()"
          ng-options="show as show.name for show in vendor.spots">
          <!--<option ng-repeat="s in vendor.spots">{{s.name}}</option>-->
        </select>
      </label>

      <!--&lt;!&ndash;<label class="item item-input">&ndash;&gt;-->
      <!--&lt;!&ndash;<span class="input-label">Number of Tickets</span>&ndash;&gt;-->
      <!--&lt;!&ndash;<input type="number" value="2">&ndash;&gt;-->
      <!--&lt;!&ndash;<br/>&ndash;&gt;-->
      <!--&lt;!&ndash;</label>&ndash;&gt;-->

      <!--<label class="item item-input item-floating-label">-->
      <!--<span class="input-label"><i>Tickets Available:</i>{{ticketsAvailable-ticketCount}}</span>-->
      <!--<input type="number" placeholder="Number of Tickets" ng-model="ticketCount">-->
      <!--</label>-->

      <label class="item item-input item-select">
                  <span class="input-label">
                      Number Of tickets
                  </span>
        <select
          ng-init=""
          ng-model="ticketCount"
          ng-change="showUpdatedTicketCount()"
          ng-options="tc as tc for tc in tcArray">
        </select>
      </label>


      <label class="item item-input" ng-click="openDatePicker()">
        <span class="input-label">Date</span>
        <input class="padding-left align-right" type="text" ng-model="date" readonly>
        <!--<div>{{date}}</div>-->
      </label>

      <label class="item item-input item-select" ng-if="date">
                  <span class="input-label">
                      Show Time
                  </span>
        <select>
          <option ng-repeat="t in selected.show.times">{{t}}</option>
        </select>
      </label>

    </div>
    <button class="button button-full button-positive">
      Book
    </button>
  </ion-content>
</ion-view>
