@font-face {
  font-family: saman;
  src: url('SAMAN.TTF');
}

/* Empty. Add your own CSS if you like */
input.util-pl {
  padding-left: 10px;
}

.align-right {
  text-align: right;
}

.center {
  text-align: center;
}

.size-50 {
  font-size: 75%;
}

.green {
  color: #006400;
}

.yellow {
  color: orangered;
}

.white {
  color: whitesmoke;
}

.search-results {
  position: absolute;
  z-index: 100;
}

.row {
  flex-wrap: wrap;
  justify-content: center;
}

.responsive-break .col {
  flex-grow: 1;
  flex-basis: 100%;
}

.col {
  box-sizing: border-box;
  margin-top: 0.25em;
}

.top-right {
  position: absolute;
  top: -4px;
  right: 4px;
  margin: 0;
  padding: 0;
  color: #333333;
}

.border-stuff {
  background-color: #fff;
  box-shadow: none;
  color: #387ef5;
  border-color: #387ef5;
  position: relative;
  display: inline-block;
  min-width: 52px;
  min-height: 47px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 42px;
  cursor: pointer;
  width: 100%;
}

ion-view {
  background: #7474BF; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #7474BF, #348AC7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #7474BF, #348AC7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

img.fit {
  max-width: 100%;
  max-height: 100%;
}

img.fit-50 {
  max-width: 50%;
  max-height: 50%;
}

.sh {
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
  -webkit-animation: showup ease-in 1;
  animation: showup ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 750ms;
  animation-duration: 750ms;
  justify-content: space-around;
}

@-webkit-keyframes showup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.middle {
  width: 100%;
  height: 100%;
}

.middle h1 {
  margin-top: 3em;
  font-size: 50px;
  display: block;
}

.hindi {
  font-family: saman;
  text-shadow: 3px 3px #333;
  color: whitesmoke;
  margin-bottom: 0.5em;
}

.middle * {
  color: whitesmoke;
  width: 100%;
  text-align: center;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.5);
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.home-slider-box {
  overflow-x: scroll;
}

.flex-container-slide {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row;
  height: 100%;
  position: absolute;
  width: 100%;
  /*flex-wrap:wrap;*/
}

.box-slide {
  padding: 20px;
  color: white;
  font-size: 22px;
  background-color: crimson;
  border: 1px solid white;
  flex: 1;
  -webkit-flex: 1;
  text-align: center;
  min-width: 200px;
}

.splash-slide {
  background-image: url(1.jpg);
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: all 0.6s ease;
  flex: none;
  -webkit-flex: none;
}

.margin-top-large {
  margin-top: 2em !important;
}

.margin-bottom-large {
  margin-bottom: 2em !important;
}

.white-bg {
  background-color: white;
}

.popup-container .popup {
  width: auto !important;
}
