/* Empty. Add your own CSS if you like */
input.util-pl {
  padding-left: 10px;
}

input.align-right {
  text-align: right;
}

.center {
  text-align: center;
}

.size-50 {
  font-size: 75%;
}

.green {
  color: #006400;
}

.yellow {
  color: orangered;
}

.white {
  color: whitesmoke;
}


.search-results {
  position: absolute;
  z-index: 100;
}

.row {
  flex-wrap: wrap;
}

.col {
  box-sizing: border-box;
  margin-top: 0.25em;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.border-stuff {
  background-color: #fff;
  box-shadow: none;
  color: #387ef5;
  border-color: #387ef5;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 12px;
  min-width: 52px;
  min-height: 47px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 42px;
  cursor: pointer;
  width: 100%;
}

ion-view {
  background: #7474BF; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #7474BF, #348AC7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #7474BF, #348AC7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
